<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header>
      <nav>
        <a href="/">Home</a>
      </nav>
      <h1>Welcome to a Tech Blog Website!</h1>
    </header>
    <main class="container container-fluid mt-5">
      {{{body}}}
    </main>
  </div>
</body>

</html>